/* meadia q */

@media screen and (max-width: 529px){
.ind .ind-img-all{
    height: 125px;
}

.img .ind-img-big{
    height: 90px;
}

.card p{
    font-size: 15px;
}

}

/* main section */

main{
    font-family: "Roboto", sans-serif;
}

.pho{
    max-width: 95vw;
    margin: auto;
    box-shadow: 0px 0px 9px black;
    border-radius: 8px;
}

.ind{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    padding: 12px; 
    gap: 25px;
    font-size: 18px;
}

.card h2{
    font-size: 30px;
    padding-top: 20px;
}

.ind-img{
    height: 200px;
    border: 5px solid rgb(113, 113, 113);
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    margin: 15px;
}

.img{
    display: flex;
    overflow: auto;
}